.header {
  height: 64px;
  padding: 20px 0 22px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 13px;
}

.appName {
  color: #00bdff;
}
