*, *::before, *::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

:global(.brand) {
  text-decoration: none;
}

:global(.nav .nav-item) {
  position: relative;
  color: #9fafb7;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
}

:global(.nav .nav-item::after) {
  content: "";
  opacity: 0;
  transition: opacity .5s ease;
}

:global(.nav .nav-item.active) {
  color: #55bdf8;
}

:global(.nav .nav-item.active::after) {
  height: 2px;
  background-color: #55bdf8;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  opacity: 1;
}

:global(.nav .nav-item:not(:last-of-type)) {
  margin-right: 25px;
}

:global(.card) {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(130, 130, 130, 0.5);
}

:global(.flex) {
  display: flex;
}

:global(.flex-wrap) {
  flex-wrap: wrap;
}

:global(.middle) {
  align-items: center;
}

:global(.between) {
  justify-content: space-between;
}

:global(.column) {
  flex-direction: column;
}

:global(.container) {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

:global(.btn) {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 5px 15px;
}

:global(.btn-border-primary) {
  border-color: #00bdff;
  color: #00bdff;
  background-color: #fff;
}

@media (min-width: 576px) {
  :global(.container) {
    width: 540px;
  }
}

@media (min-width: 768px) {
  :global(.container) {
    width: 720px;
  }
}

@media (min-width: 992px) {
  :global(.container) {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  :global(.container) {
    width: 1140px;
  }
}
